flask
flask_sqlalchemy
flask_migrate
flask_wtf
flask_login
flask_bcrypt
flask_session
pandas
numpy
requests
werkzeug
gunicorn
psycopg2-binary
email_validator
python-dotenv
openpyxl
xlrd
pymysql
pdfplumber
docx
python-docx
nltk
scikit-learn
OpenCV-python
fitz
pytesseract
frontend
tools
